.md-tabs {
  font-family: "Orbitron", regular;
}
.md-header {
  font-family: "Orbitron", regular;
}
h1 {
  font-family: "Orbitron", regular;
}
:root {
  --md-text-font: "Arial";
}

.md-footer {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.md-footer-meta {
  background: #0f0f1f;
  overflow: hidden;
}

[data-md-color-primary="black"] .md-header {
  background: #0f0f1f;
}
